<!DOCTYPE HTML>
<html>

<head>
</head>

<body>
    <h1><%= params["team"]["name"] %></h1>
    <h3><%= params["team"]["motto"]%></h2>

    <h2><%= params["team"]["members"][0]["name"]%></h2>
    <h3><%= params["team"]["members"][0]["name"]%></h3>
    <h3><%= params["team"]["members"][0]["name"]%></h3>

    <h2><%= params["team"]["members"][1]["name"]%></h2>
    <h3><%= params["team"]["members"][1]["name"]%></h3>
    <h3><%= params["team"]["members"][1]["name"]%></h3>

    <h2><%= params["team"]["members"][2]["name"]%></h2>
    <h3><%= params["team"]["members"][2]["name"]%></h3>
    <h3><%= params["team"]["members"][2]["name"]%></h3>
</body>

</html>